.navbar {
    border-radius: 0px;
    border-bottom: 1px solid lightgray;
}

#sidebar img {
    height: 90vh;
}

#booker {
    height: 50px;
}

#table-container {
    max-height: 72vh;
    overflow-x: scroll;
}